@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #f6f7fb;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.calculator{
    width: 300px;
    height: 550px;
    background-color: #1C1C1C;
    padding: 10px;
    outline: 8px solid #555555;
    border-radius: 5%;
}

.calculator .result-window{
    display: flex;
    justify-content: right;
    align-items: flex-end;
    height: calc(100% - 350px);
    background-color: #1C1C1C;
    color: white;
}
